
<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="navbar-header">
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>

    <div class="container justify-content-end">
    <div id="navbar" class="nav justify-content-end">
      <ul class="nav">
        <% if user_signed_in? %>
          <li class="dropdown nav-link">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <%= current_user.name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="nav-link"><%= link_to 'Profile', edit_user_registration_path %></li>
              <li class="nav-link"><%= link_to 'Log Out', destroy_user_session_path %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-link"><%= link_to 'Log In', new_user_session_path %></li>
          <li class="nav-link"><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
        </ul>
    </div>
  </div>
</nav>
