
<h1>Wikis</h1>
<hr>

<div class="container">
  <div class="row justify-content-end">
    <%= link_to '+', new_wiki_path, class: 'plus' %>
  </div>

</div>
<div class="container">
  <div class="col-md-8">
    <% policy_scope(@wikis).each do |wiki| %>
    <div class="container-fluid section">

    <h4><%= link_to wiki.title, wiki %></h4>

    <p><%= markdown(wiki.body.truncate_words(10)) %></p>
    <p><%= wiki.private ? 'private' : 'public' %></p>
  </div>
    <% end %>
  </div>
  <div class="container">

        <ul class="pagination justify-content-center">
            <div class="paginator">
                <%= paginate @wikis %>
            </div>
        </ul>
    </div>
</div>
