<!DOCTYPE html>
<html>
  <head>
    <title>InfoTree</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fauna+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500" rel="stylesheet">

  </head>

  <body>
        <%= render 'partials/navigation' %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

      <div class="container-fluid">
          <%= yield %>
      </div>
  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://use.fontawesome.com/5373e16910.js"></script>

</html>
